.navbar {
    background-color: #8CC3CE !important;
}

#navbar > ul.navbar-nav > li.nav-item a:hover {
    background-color: #8CC3CE !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.8) !important;
}

.navbar-dark .navbar-nav .active>.nav-link {
    background-color: #8CC3CE !important;
    color: #fff !important;
}

.navbar-dark input[type="search"] {
    background-color: #fff !important;
    color: #444 !important;
}

nav .text-muted {
    color: #d8d8d8 !important;
}

a {
    color: #8CC3CE;
}

a:hover {
    color: rgb(63, 162, 177);
}

button.btn.btn-primary.btn-copy-ex {
    background-color: #8CC3CE;
    border-color: #8CC3CE;
}
